{% load static %}
<!doctype html>
<html>
<head>
<title>Official Signup Form Flat Responsive widget Template :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- fonts -->
<link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<!-- /fonts -->
<!-- css -->
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" media="all" />
<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' media="all" />
<!-- /css -->
</head>
<body style="background:white;">
<h1 class="w3ls" style="color:black;">My Blog Post</h1>
<div class="content-w3ls" style="background:white;">
	<div class="content-agile2" style="color: white;">
		<span style="float:right; font-style:bold; font-size: 14px; color:black;"> <a href="{% url 'theplug:sign_up' %}">Go Home </a></span>

		<br><br><br>
	</div>
	<div class="content-agile1" style="background:none; padding-top: 50px; padding-left: 20px;">
		
			<span  style="padding-left:50px; padding-top: 50px; font-size: 12px; font-style: italic; "> {{ post.date_added }}</span>
			<h2 style="padding-left:50px; padding-top: 0px; color: black; font-family: verdana; font-size:34px; font-style: bold; font-weight: 700"> {{ post.title.upper }}</h2>
			<br>
			<span style="padding-left:50px; padding-top: 50px; padding-bottom:100px;">
				{{ post.body }}
			</span>
			<br><br>
			
		
		
	</div>

	<div class="clear"></div>
</div>
<p class="copyright w3l">© 2017 Official Signup Form. All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts</a></p>
</body>
</html>
